/* Estilos gerais para a página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #441c1c;
}

/* Container principal */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 0.42rem;
  box-sizing: border-box;
}

/* Estilos para o componente GerenciarGrupo */
.main-container {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* Cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

.header a:hover {
  color: #0056b3;
}

/* Estilo para o seletor de grupos */
.select-group-container {
  margin-bottom: 1.5rem;
}

.seletor-grupo {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
  box-sizing: border-box;
}

.seletor-grupo option {
  padding: 0.5rem;
}

/* Conteúdo principal do GerenciarGrupo */
.conteudo-ficha {
  display: flex;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.linha-campos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.campo {
  flex: 1;
  margin-right: 1.25rem;
}

.campo:last-child {
  margin-right: 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #495057;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Botões de ação */
.footer-ficha {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-salvar,
.botao-editar,
.botao-deletar {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-salvar {
  background-color: #064414;
}

.botao-salvar:hover {
  background-color: #218838;
}

.botao-editar {
  background-color: #092f57;
}

.botao-editar:hover {
  background-color: #0056b3;
}

.botao-deletar {
  background-color: #50050d;
}

.botao-deletar:hover {
  background-color: #bd2130;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }

  .linha-campos {
    flex-direction: column;
  }

  .campo {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer-ficha {
    flex-direction: column;
    align-items: flex-start;
  }

  .botao-salvar,
  .botao-editar,
  .botao-deletar {
    width: 100%;
    margin-bottom: 1rem;
  }
}
