.pagina-contatiner {
    display: flex;
    overflow-y: auto;
}

html, body {
    height: 100%; /* Garantir que o body ocupe 100% da altura */
    overflow-y: auto; /* Permite a rolagem */
    margin: 0; /* Remover margens padrão */
}

.background-img {
    position: fixed; /* Mantém a imagem fixa no fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cobrir toda a tela */
    background-image: url('../../../public/images/login-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Manter a imagem atrás de todos os outros conteúdos */
}

.menu {
    position: fixed; /* Fixa o menu no fundo */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25vh; /* Ajuste conforme necessário */
    background-color: #441C1C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1; /* Garantir que o menu fique acima da imagem */
}

.content {
    flex-grow: 1; /* Permite que o conteúdo cresça e ocupe o espaço disponível */
    padding-bottom: 25vh; /* Adiciona um espaço para o menu fixo */
    overflow-y: auto; /* Permite a rolagem vertical */
    min-height: 100vh; /* Garante que a div tenha altura mínima */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.cadastro-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro {
    font-size: 1.8rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000;
    margin: 0;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.inputs-superiores {
    display: flex;
    justify-content: space-around;
}

.inputs-inferiores {
    display: flex;
    justify-content: space-around;
}

.label {
    color: #FFFFFF;
    font-weight: bold;
}
