html {
  background-color: #441c1c;
}

.menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Faz com que a tela seja organizada de cima para baixo */
}

/* Faixa preta no topo */
.faixa-preta {
  width: 100%;
  height: 3.125rem; /* Altura da faixa preta */
  background-color: black;
  position: relative;
  top: -8.75rem; /* Move a faixa para cima em 10px */
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center; /* Centraliza os itens dentro do container */
  align-items: center;
  width: 25rem;
  height: 25rem;
}

.botoes li {
  position: absolute;
  justify-content: center;
  transform-origin: 22rem;
  transform: rotate(calc(360deg / 8 * var(--i)));
  left: 30.3%;
  top: 28rem;
  font-family: inherit;
}
.botoes li a {
  transform: rotate(calc(360deg / -8 * var(--i)));
}

/* .container li.um {
  top: 11.25rem;
}

.container li.tres {
  top: 11.25rem;
  left: 24.125rem;
}

.container li.quatro {
  top: 8.875rem;

  left: 21.625rem;
}

.container li.cinco {
  top: 8.0625rem;
  left: 22.25rem;
}

.container li.sete {
  left: 21rem;
} */

.imagem {
  align-items: center;
  height: auto;

  z-index: 1000;
  box-shadow: black;
  border-radius: 50%;
}
