.menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #441c1c;
  margin: 0;
  flex-direction: column; /* Faz com que a tela seja organizada de cima para baixo */
}

/* Faixa preta no topo */
.faixa-preta {
  width: 100%;
  height: 50px; /* Altura da faixa preta */
  background-color: black;
  position: relative;
  top: -140px; /* Move a faixa para cima em 10px */
}

ul {
  list-style-type: none;
}
.container {
  display: flex;
  justify-content: center; /* Centraliza os itens dentro do container */
  align-items: center;
  width: 80%;
  height: 400px;
  gap: 20px; /* Espaçamento entre as colunas e a imagem */
  position: relative;
}

.container li {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  list-style: none;
  transform-origin: 370px;
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(50px);
  left: 366px;
  top: 140px;
}

.container li a {
  transform: rotate(calc(360deg / -8 * var(--i)));
}

.container li.um {
  top: 180px;
}

.container li.tres {
  top: 180px;
  left: 386px;
}

.container li.quatro {
  top: 142px;

  left: 346px;
}

.container li.cinco {
  top: 129px;
  left: 356px;
}

.container li.sete {
  left: 336px;
}
.imagem-container {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
}

.imagem {
  align-items: center;
  max-width: 300px; /* Ajusta o tamanho máximo da imagem */
  height: auto;

  z-index: 1000;
  box-shadow: black;
  border-radius: 50%;
}
